/* ========= style.css ========= */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  background: black;
}

.gallery-container {
  width: 100vw;
  height: 100vh;
  position: relative;
  overflow: hidden;
}

.track {
  position: absolute;
  display: flex;
  left: 0;
  top: 0;
  height: 100vh;
  will-change: transform;
}

.track img {
  height: 100vh;
  width: auto;
  flex-shrink: 0;
  object-fit: contain;
  background: black;
  transition: transform 0.25s ease-out;
}

.overlay-wrapper {
  position: absolute;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: .4rem;
  pointer-events: none;
}

#title {
  color: white;
  font-family: "neue-haas-grotesk-display", sans-serif;
  font-size: 15px;
  font-weight: 600;
  pointer-events: auto;
  cursor: pointer;
  position: relative;   /* <<< wichtig */
  z-index: 9999;        /* <<< wichtig */
  text-decoration: none;
}

#subtitle {
  color: white;
  font-family: "Fragment Mono", monospace;
  font-size: 15px;
  pointer-events: none; /* <<< soll NICHT klickbar sein */
}

.hint {
  position: absolute;
  bottom: 1.5rem;
  left: 50%;
  transform: translateX(-50%);
  color: white;
  font-family: "Fragment Mono", monospace;
  font-size: 15px;
}

@media(max-width:600px) {
  .overlay-wrapper {
    flex-direction: column;
    text-align: center;
  }
}