/* ========= BASIS ========= */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    overflow: hidden;
    width: 100vw;
    height: 100vh;
    background: rgb(255, 255, 255);
}

/* ========= SLIDER-CONTAINER ========= */

.gallery-container {
    width: 100vw;
    height: 100vh;
    position: relative;
    overflow: hidden;
    background-color: aliceblue;
}

.track {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    height: 100vh;
    will-change: transform;
}

/* ========= EINZELNES ELEMENT (Bild + Video) ========= */

.media-wrapper {
    height: 100vh;     /* Höhe fix */
    flex-shrink: 0;    /* NICHT zusammenschieben */
    display: flex;
    align-items: flex-start;
    justify-content: center;
    background: rgb(255, 255, 255);  /* damit Ränder nicht weiss sind */
}

.media-wrapper:hover {
    cursor: pointer;
}


/* Medien behalten Format */
.media-wrapper img,
.media-wrapper video {
    height: auto;      /* Höhe fix */
    width: 400px;       /* Breite automatisch → korrektes Verhältnis */
    object-fit: contain;
    gap: 20px;
}

/* ========= TEXT-OVERLAY ========= */

.overlay-wrapper {
    position: absolute;
    bottom: 1.5rem;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .4rem;
    pointer-events: none;
}

#title {
    color: rgb(0, 0, 0);
    font-family: "neue-haas-grotesk-display", sans-serif;
    font-size: 15px;
    font-weight: 600;
    pointer-events: auto;
    cursor: pointer;
    z-index: 10;
    text-decoration: none;
}
#title:hover {
    letter-spacing: 0.5px;
}

#subtitle {
    color: rgb(0, 0, 0);
    font-family: "Fragment Mono", monospace;
    font-size: 15px;
    pointer-events: none;
}

.hint {
    position: absolute;
    bottom: 1.5rem;
    left: 50%;
    transform: translateX(-50%);
    color: white;
    font-family: "Fragment Mono", monospace;
    font-size: 15px;
}

/* ========= MOBILE ========= */

@media (max-width: 600px) {

    .media-wrapper {
        width: 100vw;
        /* mobil: 1 Medium pro Ansicht */
    }

    .overlay-wrapper {
        flex-direction: column;
        text-align: center;
    }
}

#preloader {
    position: fixed;
    inset: 0;
    background: white;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(0, 0, 0);
    font-family: "Fragment Mono", monospace;
    font-size: 15px;
    z-index: 9999;
}